Repository AdConDev/pos-printer, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github, tests, encoding, connector, printer, image, profile, protocol, types, utils, dependencies

feat(escpos): enhance printer command structure and add comments
  .github/git-commit-instructions.md
  .golangci.yml
  connector/windows.go
  encoding/encoding.go
  escpos/barcodes.go
  escpos/basic_commands.go
  escpos/cash_drawer.go
  escpos/character_encoding.go
  escpos/config.go
  escpos/constants.go
  escpos/errors.go
  escpos/escpos.go
  escpos/graphics.go
  escpos/hardware_settings.go
  escpos/inicialization.go
  escpos/line_spacing.go
  escpos/paper_control.go
  escpos/positioning.go
  escpos/primitives.go
  escpos/print.go
  escpos/qrcodes.go
  escpos/status.go
  escpos/text_formatting.go
  escpos/utils.go
  examples/dithering/dithering_example.go
  internal/doc.go
  pos/pos.go
  types/doc.go
  types/types.go
Labels: documentation, github, encoding, connector, printer, types

fix(errors): standardize error variable names
  escpos/alerts.go
  escpos/character_encoding.go
  escpos/config.go
  escpos/errors.go
  escpos/graphics.go
  escpos/memory.go
  escpos/print.go
  escpos/qrcodes.go
  escpos/utils.go
  escpos/vendor_specific.go
  examples/codes/codes_example.go
  examples/dithering/dithering_example.go
  examples/image/image_example.go
  examples/qr/qr_example.go
  examples/windows/windows_example.go
  go.mod
  imaging/image.go
  package.json
  pos/pos.go
  profile/profile.go
  utils/binary.go
Labels: printer, image, profile, utils, dependencies

feat(escpos): add line spacing capabilities and refactor commands
  escpos/escpos.go
  escpos/line_spacing.go
  escpos/mocks.go
  escpos/positioning.go
  escpos/print.go
  pos/pos.go
Labels: printer

fix(escpos): improve comments and code clarity
  .golangci.yml
  connector/doc.go
  connector/windows.go
  encoding/doc.go
  escpos/constants.go
  escpos/doc.go
  escpos/mocks.go
  escpos/types.go
  examples/dithering/dithering_example.go
  examples/image/image_example.go
  imaging/image.go
  internal/files.go
  pos/doc.go
  pos/pos.go
  profile/doc.go
  profile/profile.go
  utils/doc.go
Labels: documentation, encoding, connector, printer, image, profile, utils

refactor(escpos): standardize protocol naming conventions
  escpos/escpos.go
  escpos/mocks.go
  escpos/utils.go
  pos/pos.go
Labels: printer

test(escpos): add tests for line spacing functionality
  escpos/line_space_fake_test.go
  escpos/line_spacing_mock_test.go
  escpos/line_spacing_test.go
Labels: tests

test(escpos): add tests for dependency injection functionality
  escpos/print_dependency_injection_test.go
  escpos/print_fake_test.go
  escpos/print_interface_composition_test.go
  escpos/print_mock_test.go
  escpos/print_test.go
Labels: tests

test(escpos): add unit tests for command functionalities
  escpos/escpos_test.go
  escpos/utils_test.go
Labels: tests

feat(printer): enhance printer configuration structure
  escpos/print_mock_test.go
  examples/codes/codes_example.go
  examples/dithering/dithering_example.go
  examples/qr/qr_example.go
  examples/windows/windows_example.go
  imaging/dithering.go
  internal/config.go
Labels: tests, image

.github/labeler.yml:

# Add labels based on file patterns

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'docs/**'
          - '**/doc.go'

github:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

tests:
  - changed-files:
      - any-glob-to-any-file: '**/*_test.go'

encoding:
  - changed-files:
      - any-glob-to-any-file: '**/encoding/**'

connector:
  - changed-files:
      - any-glob-to-any-file: '**/connector/**'

printer:
  - changed-files:
      - any-glob-to-any-file: '**/pos/**'

image:
  - changed-files:
      - any-glob-to-any-file: '**/imaging/**'

profile:
  - changed-files:
      - any-glob-to-any-file: '**/profile/**'

protocol:
  - changed-files:
      - any-glob-to-any-file: '**/protocol/**'

types:
  - changed-files:
      - any-glob-to-any-file: '**/types/**'

utils:
  - changed-files:
      - any-glob-to-any-file: '**/utils/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'go.mod'
          - 'go.sum'
          - 'package.json'
          - 'package-lock.json'
